<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>IRSMobile.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>984DACC31F6BC03800336E99</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>984DACDA1F6BC03800336E99</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>984DACE51F6BC03800336E99</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
